<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trang chủ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/post.css">
    <link rel="stylesheet" href="/resources/css/carousel.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

</head>

<body>
    <!--header-->
    {{#if isUser}}
    {{>headers/member_homepage_header}}
    {{else}}
    {{> headers/homepage_header }}
    {{/if}}

    <!--main-->


    <div class="main text-light">

        <h2 class="text-center" style="margin-top: 40px;margin-bottom: 40px; ">BÀI VIẾT KHOA HỌC</h2>

        <div class="container">
            <hr>
            <div class="text-center">
                <h3>{{post.TIEUDE}}</h3>
            </div>
            <!-- Hình ảnh và nội dung -->
            <div style="display: flex; justify-content: space-between;">
                <img class="img" src="{{post.ANHDINHKEM}}" style="width: 45%; margin-right: 20px;" />
                <div>

                    <h4>{{#each post.PARAGRAPH}}
                        <h4> {{this.text}}</h4>
                        {{/each}}
                    </h4>
                    <p class="content" style="font-size: small;">Ngày đăng: {{post.NGAYDANG}}</p>
                    <p class="author" style="font-size: small;">Người đăng: {{post.TENNGUOIDANG}}</p>
                </div>
            </div>
            {{#if isUser}}
            <!-- Lượt yêu thích -->
            <div class="container">
                <div class="like-container">
                    {{#if checkUserLike}}
                    <button id="likeButton" class="heart liked">&#x2764;

                    </button>
                    {{else}}
                    <button id="likeButton" class="heart">&#x2764;

                    </button>
                    {{/if}}
                    <span id="likeCount">{{post.LUOTLIKE}}</span> Likes
                    <input style="display: none" id="likeNum" value="{{post.LUOTLIKE}}">
                </div>
            </div>
            {{/if}}


        </div>
        <!-- Lượt bình luận -->
        {{!-- {{#if isUser}}
        <div class="container" id="PostComments">
            <h2>Bình luận</h2>

            <div class="d-flex flex-start mb-4">
                <img class="rounded-circle shadow-1-strong me-3"
                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="65"
                    height="65" />
                <div class="card w-100">
                    <div class="card-body">
                        <textarea class="form-control mb-2"></textarea>
                        <button type="submit" class="btn btn-primary float-right">Gửi</button>
                    </div>
                </div>
            </div>

            <!-- Comments Display Section -->
            <div class="comment">
                <div class="container py-5 text-dark">
                    <div class="row d-flex justify-content-center">

                        Comment 1
                        <div class="d-flex flex-start mb-4">
                            <img class="rounded-circle shadow-1-strong me-3"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar"
                                width="65" height="65" />
                            <div class="card w-100">
                                <div class="card-body p-4">
                                    <h5>Khắc Triệu</h5>
                                    <p class="small">3 hours ago</p>
                                    <p class="cmt">Cras sit amet nibh libero, in gravida nulla...</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <a href="#!" class="link-muted me-2"><i
                                                    class="fas fa-thumbs-up me-1"></i>132</a>
                                            <a href="#!" class="link-muted"><i
                                                    class="fas fa-thumbs-down me-1"></i>15</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        Comment 2
                        <div class="d-flex flex-start">
                            <img class="rounded-circle shadow-1-strong me-3"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp" alt="avatar"
                                width="65" height="65" />
                            <div class="card w-100">
                                <div class="card-body p-4">
                                    <h5>Minh Triết</h5>
                                    <p class="small">5 hours ago</p>
                                    <p class="cmt">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <a href="#!" class="link-muted me-2"><i
                                                    class="fas fa-thumbs-up me-1"></i>158</a>
                                            <a href="#!" class="link-muted"><i
                                                    class="fas fa-thumbs-down me-1"></i>13</a>
                                        </div>
                                        <a href="#!" class="link-muted"><i class="fas fa-reply me-1"></i>Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {{/if}} --}}

    </div>


    </div>
    <!--footer-->
    {{>footers/homepage_footer}}



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


    <script src="resources/js/post.js"></script>
    <script src="/resources/js/home_script.js"></script>
</body>

</html>